#main_wrap{ 
width:100%;
margin:0 auto;
min-width: 308px;
}

body{
	box-sizing: border-box;
	padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  	padding:
    constant(safe-area-inset-top)
    constant(safe-area-inset-right)
    constant(safe-area-inset-bottom)
    constant(safe-area-inset-left); /* iOS 구형 대응 */
	
	background-color:#FFFFFF;
	font-size: 16px;
	font-family: "Noto Sans KR", sans-serif;
}

        #todo-list {
            list-style-type: none;
            padding: 0;
        }

        #todo-list li {
	  padding: 10px;
	  border-bottom: 1px solid #ccc; /* 구분 선 */
  	  display: flex;
  	  align-items: center;
	  justify-content: space-between;
 	}

	#todo-list input[type="checkbox"] {
	transform : scale(1.5);
  	margin-right: 25px;
	}

        button {
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
            padding: 0;
            margin-left: 10px;
	    	white-space: nowrap; /* 텍스트 한 줄 유지 */
  	    	text-align: center;
	    	font-size: 16px;
			
            border-radius: 3.5px; /* 버튼 테두리 둥글게 */

	    	width: 60px;
  	    	height: 35px;
   	    	min-width: 60px;
		
        }

.todo-text {
  	width: 633px;
  	margin-right: 20px;
	flex-grow: 0;
	word-break: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	}

#todo-input{	
  width: 220px;
  font-size: 16px;
}

#box{
text-align: center
}

#main_title{
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    margin: 0px 0px 44px 0px;
  }




/* 데스크탑 */
@media (min-width: 768px) {


	body{
	padding: 15px 45px;
	}
	
	#main_wrap{ 
	min-width: 649px;
	}

	
#todo-input{	
  width: 458px;
}

.todo-text {
	width: 100%;
  	margin-right: 0;
}

	#todo-list input[type="checkbox"] {
  	margin-right: 10px;
	transform : scale(1.0);
	}

 
  #main_title {
    margin: 30px 0px 70px 0px;
    font-size: 60px;
  }
}








