#main_wrap{ 
	width:100%;
	margin:0 auto;
	padding: 20px;
	max-width: 600px;
	min-width: 480px;
}

body{
	background-color:#FFFFFF;
	padding: 15px;
	font-family:"맑은 고딕";
}

        #todo-list {
            list-style-type: none;
            padding: 0;
        }

        #todo-list li {
	  padding: 10px;
	  border-bottom: 1px solid #ccc; /* 구분 선 */
  	  display: flex;
  	  align-items: center;
	  justify-content: space-between;
 	}

	#todo-list input[type="checkbox"] {
  	margin-right: 10px;
	}



        button {
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
            padding: 0;
            margin-left: 10px;
	    white-space: nowrap; /* 텍스트 한 줄 유지 */
	    width: 60px;
  	    height: 35px;
   	    min-width: 60px;
  	    text-align: center;
        }

.todo-text {
  width: 633px;
  flex-grow: 1;
}

#todo-input{	
  width: 350px;
}


#main_title{
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-size: 60px;
    margin: 0px 0px 36px 0px;
  }

/* 화면이 1024px 이상일 때 (데스크탑) */
@media (min-width: 1024px) {
  #main_wrap {
    max-width: 900px;
  }

  #main_title {
    margin: 30px 0px 70px 0px;
    font-size: 60px;
  }
}
